En este script se realiza la limpieza y preparación de los datos antes de analizarlos

In [1]:
# Librerías
import pandas as pd
import numpy as np

In [2]:
# Cargar los datos desde el directorio principal
df_games = pd.read_csv('df_games.csv')

In [3]:
# ver info
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [12]:
df_games.sample(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
9774,UNDEAD KNIGHTS,PSP,2009,Action,0.05,0.00,0.06,0.01,63.0,80.0,M
13262,REIGN OF FIRE,GBA,2002,Shooter,0.03,0.01,0.00,0.00,61.0,NaN,T
211,FALLOUT 3,X360,2008,Role-Playing,3.40,0.99,0.09,0.45,93.0,85.0,M
14813,FROGGER ANCIENT SHADOW,XB,2005,Platform,0.02,0.01,0.00,0.00,47.0,NaN,E
13790,GAL*GUN,X360,2011,Shooter,0.00,0.00,0.04,0.00,NaN,NaN,NaN
6799,TIMESPLITTERS FUTURE PERFECT,PS2,2005,Shooter,0.12,0.09,0.00,0.03,84.0,91.0,M
1840,ROCK BAND,PS2,0,Misc,0.71,0.06,0.00,0.35,82.0,68.0,T
2064,EXCITEBIKE 64,N64,2000,Racing,0.65,0.15,0.19,0.01,NaN,NaN,NaN
691,WARIOWARE TOUCHED!,DS,2004,Puzzle,0.51,0.45,1.21,0.13,NaN,NaN,NaN
8603,BAKUGAN BATTLE BRAWLERS DEFENDERS OF THE CORE,Wii,2010,Action,0.14,0.00,0.00,0.01,NaN,NaN,E10+

In [5]:
df_games.columns = df_games.columns.str.lower()
df_games.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

Columna 'year_of_release'

In [6]:
# Year of release a int
df_games['year_of_release'] = df_games['year_of_release'].fillna(0).astype('int')  # Llena con 0

df_games['year_of_release'] = pd.to_numeric(df_games['year_of_release'], errors='coerce').fillna(0).astype('int')
df_games['year_of_release'].dtypes

dtype('int64')

Columna 'user_score'

In [7]:
# Columna 'user_score' a float

df_games['user_score'].unique()
df_games['user_score'] = df_games['user_score'].replace('tbd', np.nan)
df_games['user_score'] = df_games['user_score'].astype(float)
df_games.user_score.info()

<class 'pandas.core.series.Series'>
RangeIndex: 16715 entries, 0 to 16714
Series name: user_score
Non-Null Count  Dtype
--------------  -----
7590 non-null   float64
dtypes: float64(1)
memory usage: 130.7 KB

Columna 'name'

In [8]:
# Datos faltantes en 'name'  
df_games['name'] = df_games['name'].fillna('NOT DEFINED')
df_games['name'] = df_games['name'].str.upper()
df_games['name'] = df_games['name'].str.replace(',', '').str.replace('.', '').str.replace(';','').str.replace(':','')
df_games['name'] = df_games['name'].str.strip(' ')
df_games.name.isna().any()

np.False_

In [9]:
df_games.name.sample(10)

14638                    PLANET OF THE APES
3818         MICHAEL JACKSON THE EXPERIENCE
12357                         GUNGRIFFON II
14131    SANGOKU KOI SENKI OTOME NO HEIHOU!
4889       DANCING WITH THE STARS WE DANCE!
8127             COMMANDOS 2 MEN OF COURAGE
5728                   BUST-A-MOVE UNIVERSE
455                       THE SIMS VACATION
8554                    PRO YAKY? SPIRITS 3
1539                                YAKUMAN
Name: name, dtype: object

Columna 'genre'

In [10]:
# Datos faltantes en 'genre' 
df_games[df_games.genre.isnull()]
df_games['genre'] = df_games['genre'].fillna('not defined')
df_games.genre.isna().any()

np.False_

Columna 'user_score' y 'critic_score' en la misma nomenclatura

In [11]:
df_games['user_score'] = df_games['user_score'] * 10
df_games[['user_score', 'critic_score']].describe()

        user_score  critic_score
count  7590.000000   8137.000000
mean     71.250461     68.967679
std      15.000061     13.938165
min       0.000000     13.000000
25%      64.000000     60.000000
50%      75.000000     71.000000
75%      82.000000     79.000000
max      97.000000     98.000000

Columna de ventas totales

In [17]:
# Sumamos las ventas de todas las columnas y creamos una nueva con los totales

df_games['total_sales'] = df_games[['na_sales', 'jp_sales', 'eu_sales', 'other_sales']].sum(axis=1)
print(df_games[['na_sales', 'jp_sales', 'eu_sales', 'other_sales', 'total_sales']].head())

   na_sales  jp_sales  eu_sales  other_sales  total_sales
0     41.36      3.77     28.96         8.45        82.54
1     29.08      6.81      3.58         0.77        40.24
2     15.68      3.79     12.76         3.29        35.52
3     15.61      3.28     10.93         2.95        32.77
4     11.27     10.22      8.89         1.00        31.38

In [13]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16715 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  int64
 3   genre            16715 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       7590 non-null   float64
 10  rating           9949 non-null   object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB