En este script se realiza la limpieza y preparación de los datos antes de analizarlos

In [2]:
# Librerías
import pandas as pd
import numpy as np

In [3]:
# Cargar los datos desde el directorio principal
df_games = pd.read_csv('df_games.csv')

In [4]:
# ver info
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [5]:
df_games.sample(10)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
6548,Lemony Snicket's A Series of Unfortunate Events,GC,2004.0,Platform,0.20,0.05,0.00,0.01,NaN,NaN,NaN
8607,Angry Birds Star Wars,XOne,2013.0,Strategy,0.11,0.04,0.00,0.02,53.0,6.9,E
12930,Rez,PS2,2001.0,Shooter,0.03,0.02,0.00,0.01,78.0,8.3,E
4390,Naruto Shippuden: Ultimate Ninja Storm Generat...,X360,2012.0,Fighting,0.26,0.14,0.01,0.04,74.0,7.2,T
7192,Duel Masters: Kaijudo Showdown,GBA,2004.0,Misc,0.16,0.06,0.00,0.00,66.0,tbd,E
12247,Fallout: Brotherhood of Steel,PS2,2004.0,Role-Playing,0.03,0.03,0.00,0.01,64.0,4.1,M
5141,Wanted: Weapons of Fate,X360,2009.0,Shooter,0.17,0.15,0.00,0.04,62.0,7.5,M
13101,Taiho Shichauzo!,PS,2001.0,Adventure,0.00,0.00,0.05,0.00,NaN,NaN,NaN
1761,Bad Boys: Miami Takedown,PS2,2004.0,Shooter,0.56,0.44,0.00,0.15,43.0,3.4,M
2118,Brutal Legend,X360,2009.0,Action,0.62,0.26,0.00,0.09,82.0,8,M

In [6]:
df_games.columns = df_games.columns.str.lower()
df_games.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

Columna 'year_of_release'

In [7]:
# Year of release a int
# También eliminaremos los catos faltantes ya que éstos nos estropearán el análisis

df_games = df_games.dropna(subset=['year_of_release'])
df_games['year_of_release'] = df_games['year_of_release'].astype('int')
df_games['year_of_release'].dtypes

df_games.year_of_release.unique()

array([2006, 1985, 2008, 2009, 1996, 1989, 1984, 2005, 1999, 2007, 2010,
       2013, 2004, 1990, 1988, 2002, 2001, 2011, 1998, 2015, 2012, 2014,
       1992, 1997, 1993, 1994, 1982, 2016, 2003, 1986, 2000, 1995, 1991,
       1981, 1987, 1980, 1983])

Columna 'user_score'

In [8]:
# Columna 'user_score' a float

df_games['user_score'].unique()
df_games['user_score'] = df_games['user_score'].replace('tbd', np.nan)
df_games['user_score'] = df_games['user_score'].astype(float)
df_games.user_score.info()

<class 'pandas.core.series.Series'>
Int64Index: 16446 entries, 0 to 16714
Series name: user_score
Non-Null Count  Dtype
--------------  -----
7463 non-null   float64
dtypes: float64(1)
memory usage: 257.0 KB

Columna 'name'

In [9]:
# Datos faltantes en 'name'  
df_games['name'] = df_games['name'].fillna('NOT DEFINED')
df_games['name'] = df_games['name'].str.upper()
df_games['name'] = df_games['name'].str.replace(',', '').str.replace('.', '').str.replace(';','').str.replace(':','')
df_games['name'] = df_games['name'].str.strip(' ')
df_games.name.isna().any()

C:\Users\User\AppData\Local\Temp\ipykernel_18532\3036584810.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_games['name'] = df_games['name'].str.replace(',', '').str.replace('.', '').str.replace(';','').str.replace(':','')

False

In [10]:
df_games.name.sample(10)

4831             RAPALA PRO BASS FISHING 2010
2676               BANJO-KAZOOIE NUTS & BOLTS
5431                    ANGRY BIRDS STAR WARS
12887                             DUAL HEARTS
14765                         BATTLE VS CHESS
1939          GRAND THEFT AUTO CHINATOWN WARS
7915     TOM CLANCY'S SPLINTER CELL BLACKLIST
2238                            BORDERLANDS 2
15457                               STORMRISE
9540                               PUPPIES 3D
Name: name, dtype: object

Columna 'genre'

In [11]:
# Datos faltantes en 'genre' 
df_games[df_games.genre.isnull()]
df_games['genre'] = df_games['genre'].fillna('not defined')
df_games.genre.isna().any()

False

Columna 'user_score' y 'critic_score' en la misma nomenclatura

In [12]:
df_games['user_score'] = df_games['user_score'] * 10
df_games[['user_score', 'critic_score']].describe()

        user_score  critic_score
count  7463.000000   7983.000000
mean     71.263299     68.994363
std      14.994467     13.920060
min       0.000000     13.000000
25%      64.000000     60.000000
50%      75.000000     71.000000
75%      82.000000     79.000000
max      97.000000     98.000000

Columna de ventas totales

In [13]:
# Sumamos las ventas de todas las columnas y creamos una nueva con los totales

df_games['total_sales'] = df_games[['na_sales', 'jp_sales', 'eu_sales', 'other_sales']].sum(axis=1)
print(df_games[['na_sales', 'jp_sales', 'eu_sales', 'other_sales', 'total_sales']].head())

   na_sales  jp_sales  eu_sales  other_sales  total_sales
0     41.36      3.77     28.96         8.45        82.54
1     29.08      6.81      3.58         0.77        40.24
2     15.68      3.79     12.76         3.29        35.52
3     15.61      3.28     10.93         2.95        32.77
4     11.27     10.22      8.89         1.00        31.38

Nueva columna para explicar columna rating

In [14]:
# Creamos una función para explicar cada categoría

def rating_expanded(x):
    if x == 'E' or x == 'K-A':
        return 'Everyone'
    elif x == 'T':
        return 'Teens'
    elif x == 'E10+':
        return "Everyone 10y+"
    elif x == 'AO':
        return "Adults only"
    elif x == 'RP':
        return 'Pending'
    elif x == 'EC':
        return 'Early Childhood'
    elif x == 'M':
        return 'Mature'
    else:
        return 'Pending'
    
# aplicamos función sobre nueva columna

df_games['rating_expanded'] = df_games['rating'].apply(rating_expanded)

Nueva columna para agrupar juegos por Plataforma

In [15]:
# Creamos una función para crear la columna en base a la columna de plataformas

def GrupoPlat(x):
    if x in ['3DS', 'DS', 'GB', 'GBA', 'GC', 'N64', 'NES', 'SNES', 'Wii', 'WiiU']:
        return 'Nintendo'
    elif x in ['PC', 'PCFX']:
        return 'PC'
    elif x in ['PS', 'PS2', 'PS3', 'PS4', 'PS5', 'PSV']:
        return 'Playstation'
    elif x in ['X360', 'XB', 'XOne']:
        return 'XBox'
    else: 
        return 'Other'
    
df_games['platform_group'] = df_games['platform'].apply(GrupoPlat)

Eliminar duplicados basados en la entidad del databse, que son juegos con nombre, plataforma y año diferentes.

In [16]:
df_games[df_games[['name', 'platform','year_of_release']].duplicated()].sort_values(by='name')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales,rating_expanded,platform_group
16230,MADDEN NFL 13,PS3,2012,Sports,0.0,0.01,0.00,0.0,83.0,55.0,E,0.01,Everyone,Playstation
14244,NOT DEFINED,GEN,1993,not defined,0.0,0.00,0.03,0.0,NaN,NaN,NaN,0.03,Pending,Other

In [17]:
df_games = df_games.drop_duplicates(subset = ['name', 'platform', 'year_of_release']).reset_index(drop = True)

#### Nota: Encontramos que la fecha del lanzamiento para el juego STRONGEST TOKYO UNIVERSITY SHOGI DS era incorrecta, la corregiremos

In [18]:
# Filtrar el juego específico
df_games.loc[df_games['name'] == 'STRONGEST TOKYO UNIVERSITY SHOGI DS', 'year_of_release'] = 2007

In [19]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16444 entries, 0 to 16443
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16444 non-null  object
 1   platform         16444 non-null  object
 2   year_of_release  16444 non-null  int32
 3   genre            16444 non-null  object
 4   na_sales         16444 non-null  float64
 5   eu_sales         16444 non-null  float64
 6   jp_sales         16444 non-null  float64
 7   other_sales      16444 non-null  float64
 8   critic_score     7982 non-null   float64
 9   user_score       7462 non-null   float64
 10  rating           9767 non-null   object
 11  total_sales      16444 non-null  float64
 12  rating_expanded  16444 non-null  object
 13  platform_group   16444 non-null  object
dtypes: float64(7), int32(1), object(6)
memory usage: 1.7+ MB

*Guardar resultado

In [20]:
df_games.to_csv('games_clean.csv', index =False)