En este script se realiza la limpieza y preparación de los datos antes de analizarlos

In [1]:
# Librerías
import pandas as pd
import numpy as np

In [2]:
# Cargar los datos desde el directorio principal
df_games = pd.read_csv('df_games.csv')

In [3]:
# ver info
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [4]:
df_games.sample(10)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
13379,Crusader: No Remorse,PS,1996.0,Adventure,0.03,0.02,0.00,0.00,NaN,NaN,NaN
9049,Front Mission Alternative,PS,1997.0,Strategy,0.00,0.00,0.13,0.01,NaN,NaN,NaN
4251,Crayola: Treasure Adventures,DS,2007.0,Puzzle,0.42,0.01,0.00,0.03,65.0,tbd,E
4432,Naruto: Gekito Ninja Taisen! 3,GC,2004.0,Fighting,0.00,0.00,0.43,0.01,NaN,NaN,NaN
2904,Star Wars: Obi-Wan,XB,2001.0,Action,0.52,0.16,0.00,0.02,58.0,5.9,T
7676,Sid Meier's Pirates!,PSP,2007.0,Strategy,0.16,0.01,0.00,0.02,NaN,NaN,NaN
4961,Sonic & All-Stars Racing Transformed,PSV,2012.0,Racing,0.09,0.20,0.00,0.09,NaN,NaN,NaN
11253,Astro Boy,PS2,2004.0,Action,0.04,0.03,0.00,0.01,54.0,6.9,E
12160,Major League Baseball 2K10,PSP,2010.0,Sports,0.06,0.00,0.00,0.01,NaN,tbd,E
12436,There,PS,2002.0,Simulation,0.03,0.02,0.00,0.00,NaN,NaN,NaN

In [5]:
df_games.columns = df_games.columns.str.lower()
df_games.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

Columna 'year_of_release'

In [6]:
# Year of release a int
df_games['year_of_release'] = df_games['year_of_release'].fillna(0).astype('int')  # Llena con 0

df_games['year_of_release'] = pd.to_numeric(df_games['year_of_release'], errors='coerce').fillna(0).astype('int')
df_games['year_of_release'].dtypes

dtype('int64')

Columna 'user_score'

In [7]:
# Columna 'user_score' a float

df_games['user_score'].unique()
df_games['user_score'] = df_games['user_score'].replace('tbd', np.nan)
df_games['user_score'] = df_games['user_score'].astype(float)
df_games.user_score.info()

<class 'pandas.core.series.Series'>
RangeIndex: 16715 entries, 0 to 16714
Series name: user_score
Non-Null Count  Dtype
--------------  -----
7590 non-null   float64
dtypes: float64(1)
memory usage: 130.7 KB

Columna 'name'

In [8]:
# Datos faltantes en 'name'  
df_games['name'] = df_games['name'].fillna('NOT DEFINED')
df_games['name'] = df_games['name'].str.upper()
df_games['name'] = df_games['name'].str.replace(',', '').str.replace('.', '').str.replace(';','').str.replace(':','')
df_games['name'] = df_games['name'].str.strip(' ')
df_games.name.isna().any()

np.False_

In [ ]:
df_games.name.sample(10)

820           POKEMON MYSTERY DUNGEON RED/BLUE RESCUE TEAM
10688                                             NBA 2K16
12431                                 STRIKE FORCE BOWLING
6167                              DISNEY'S TREASURE PLANET
14375                                     SONG OF THE DEEP
538                                          BATTLEFIELD 3
2943     TRANSFORMERS REVENGE OF THE FALLEN (XBOX 360 P...
689                                        COOL BOARDERS 3
353                                  STAR WARS BATTLEFRONT
12921                                           4 ELEMENTS
Name: name, dtype: object

Columna 'genre'

In [ ]:
# Datos faltantes en 'genre' 
df_games[df_games.genre.isnull()]
df_games['genre'] = df_games['genre'].fillna('not defined')
df_games.genre.isna().any()

np.False_

Columna 'user_score' y 'critic_score' en la misma nomenclatura

In [11]:
df_games['user_score'] = df_games['user_score'] * 10
df_games[['user_score', 'critic_score']].describe()

        user_score  critic_score
count  7590.000000   8137.000000
mean     71.250461     68.967679
std      15.000061     13.938165
min       0.000000     13.000000
25%      64.000000     60.000000
50%      75.000000     71.000000
75%      82.000000     79.000000
max      97.000000     98.000000

Columna de ventas totales

In [12]:
# Sumamos las ventas de todas las columnas y creamos una nueva con los totales

df_games['total_sales'] = df_games[['na_sales', 'jp_sales', 'eu_sales', 'other_sales']].sum(axis=1)
print(df_games[['na_sales', 'jp_sales', 'eu_sales', 'other_sales', 'total_sales']].head())

   na_sales  jp_sales  eu_sales  other_sales  total_sales
0     41.36      3.77     28.96         8.45        82.54
1     29.08      6.81      3.58         0.77        40.24
2     15.68      3.79     12.76         3.29        35.52
3     15.61      3.28     10.93         2.95        32.77
4     11.27     10.22      8.89         1.00        31.38

Nueva columna para explicar columna rating

In [13]:
# Creamos una función para explicar cada categoría

def rating_expanded(x):
    if x == 'E' or x == 'K-A':
        return 'Everyone'
    elif x == 'T':
        return 'Teens'
    elif x == 'E10+':
        return "Everyone 10y+"
    elif x == 'AO':
        return "Adults onnly"
    elif x == 'RP':
        return 'Pending'
    elif x == 'EC':
        return 'Early Childhood'
    elif x == 'M':
        return 'Mature'
    else:
        return 'Pending'
    
# aplicamos función sobre nueva columna

df_games['rating_expanded'] = df_games['rating'].apply(rating_expanded)

Nueva columna para agrupar juegos por Plataforma

In [14]:
# Creamos una función para crear la columna en base a la columna de plataformas

def GrupoPlat(x):
    if x in ['3DS', 'DS', 'GB', 'GBA', 'GC', 'N64', 'NES', 'SNES', 'Wii', 'WiiU']:
        return 'Nintendo'
    elif x in ['PC', 'PCFX']:
        return 'PC'
    elif x in ['PS', 'PS2', 'PS3', 'PS4', 'PS5', 'PSV']:
        return 'Playstation'
    elif x in ['X360', 'XB', 'XOne']:
        return 'XBox'
    else: 
        return 'Other'
    
df_games['platform_group'] = df_games['platform'].apply(GrupoPlat)

Eliminar duplicados basados en la entidad del databse, que son juegos con nombre, plataforma y año diferentes.

In [15]:
df_games[df_games[['name', 'platform','year_of_release']].duplicated()].sort_values(by='name')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,total_sales,rating_expanded,platform_group
16230,MADDEN NFL 13,PS3,2012,Sports,0.0,0.01,0.00,0.0,83.0,55.0,E,0.01,Everyone,Playstation
14244,NOT DEFINED,GEN,1993,not defined,0.0,0.00,0.03,0.0,NaN,NaN,NaN,0.03,Pending,Other

In [16]:
df_games = df_games.drop_duplicates(subset = ['name', 'platform', 'year_of_release']).reset_index(drop = True)

In [17]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16713 entries, 0 to 16712
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16713 non-null  object
 2   year_of_release  16713 non-null  int64
 3   genre            16713 non-null  object
 4   na_sales         16713 non-null  float64
 5   eu_sales         16713 non-null  float64
 6   jp_sales         16713 non-null  float64
 7   other_sales      16713 non-null  float64
 8   critic_score     8136 non-null   float64
 9   user_score       7589 non-null   float64
 10  rating           9948 non-null   object
 11  total_sales      16713 non-null  float64
 12  rating_expanded  16713 non-null  object
 13  platform_group   16713 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 1.8+ MB

*Guardar resultado

In [19]:
df_games.to_csv('games_clean.csv', index =False)