En este script se realiza la limpieza y preparación de los datos antes de analizarlos

In [6]:
# Librerías
import pandas as pd
import numpy as np

In [7]:
# Cargar los datos desde el directorio principal
df_games = pd.read_csv('df_games.csv')

In [98]:
# ver info
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16715 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  int64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       7590 non-null   float64
 10  rating           9949 non-null   object
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [33]:
df_games.sample(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
5901,Dance Dance Revolution Universe 3,X360,2008.0,Simulation,0.28,0.00,0.00,0.02,65.0,7.7,E
111,Super Smash Bros. Melee,GC,2001.0,Fighting,4.41,1.04,1.39,0.22,92.0,9.1,T
11764,Kinnikuman Muscle Grand Prix Max 2: Tokumori,PS2,2008.0,Fighting,0.00,0.00,0.07,0.00,NaN,NaN,NaN
461,Kung Fu Panda,X360,2008.0,Action,1.91,0.84,0.00,0.29,75.0,7.4,E10+
13321,Diabolik Lovers,PSP,2012.0,Adventure,0.00,0.00,0.05,0.00,NaN,NaN,NaN
5244,Shrek,XB,2001.0,Platform,0.25,0.10,0.00,0.01,49.0,5.4,T
12079,Billy's Boot Camp: Wii de Enjoy Diet!,Wii,2011.0,Sports,0.00,0.00,0.07,0.00,NaN,NaN,NaN
11689,Ro-Kyu-Bu!,PSP,2011.0,Adventure,0.00,0.00,0.08,0.00,NaN,NaN,NaN
9544,Mystic Ark,SNES,1995.0,Role-Playing,0.00,0.00,0.13,0.00,NaN,NaN,NaN
11427,State of Emergency 2,PS2,2006.0,Shooter,0.04,0.03,0.00,0.01,44.0,5.8,M

In [24]:
df_games.columns = df_games.columns.str.lower()
df_games.columns

Index(['name', 'platform', 'year_of_release', 'genre', 'na_sales', 'eu_sales',
       'jp_sales', 'other_sales', 'critic_score', 'user_score', 'rating'],
      dtype='object')

In [45]:
# Year of release a int
df_games['year_of_release'] = df_games['year_of_release'].fillna(0).astype('int')  # Llena con 0

df_games['year_of_release'] = pd.to_numeric(df_games['year_of_release'], errors='coerce').fillna(0).astype('int')
df_games['year_of_release'].dtypes

dtype('int64')

In [71]:
# Columna 'user_score' a float

df_games['user_score'].unique()
df_games['user_score'] = df_games['user_score'].replace('tbd', np.nan)
df_games['user_score'] = df_games['user_score'].astype(float)
df_games.user_score.info()

<class 'pandas.core.series.Series'>
RangeIndex: 16715 entries, 0 to 16714
Series name: user_score
Non-Null Count  Dtype
--------------  -----
7590 non-null   float64
dtypes: float64(1)
memory usage: 130.7 KB

In [97]:
# Datos faltantes en 'name'  
df_games[df_games['name'].isnull()]
df_games['name'] = df_games['name'].fillna('name_missing')
df_games.name.isna().any()

np.False_

In [102]:
# Datos faltantes en 'genre' 
df_games[df_games.genre.isnull()]
df_games['genre'] = df_games['genre'].fillna('not known')
df_games.genre.isna().any()

np.False_

In [103]:
# Datos faltantes en 'critic_score'
df_games[df_games['critic_score'].isnull()]

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
9,Duck Hunt,NES,1984,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,Nintendogs,DS,2005,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [105]:
df_games['genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy', 'not known'], dtype=object)